/* Footer.module.css */
.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 15px;
  background-color: var(--green-pastel); /* opcional, só pra visualizar */
  color: var(--text-muted);
  font-size: 0.9rem;
}